.modal-icon{
    display: block;
    margin: auto;
    width: 150px;
}
.modal-body{
    h4{
        text-align: center;
        padding-bottom: 30px ;
    }
}

.modal-header {
    border-bottom: none;
}