.navBar{
    // position: fixed;
    width: 100%;
    font-size: 22px;
    padding: 16px 0px;
    color: #fff;
    .navbar-brand{
        font-size: 30px;
        font-family: 'proj-md';
        font-weight: 700;
        span{
            color: #5cc9a7;
        }
    }
    .navBarLinks{
        justify-content: space-between;
        a{
            padding: 0 16px;
            color: #fff;
            text-decoration: none;
            font-size: 22px;
        }
    }
}
