@font-face {
    font-family: "proj-rg";
    src: url("../../font/Nunito-Regular.ttf");
};
@font-face {
    font-family: "proj-lt";
    src: url("../../font/Nunito-Light.ttf");
};
@font-face {
    font-family: "proj-md";
    src: url("../../font/Nunito-Medium.ttf");
};

.btn-success{
    background-color: #5cc9a7 !important;
    border-color: #5cc9a7;
}