@font-face {
    font-family: "proj-rg";
    src: url("../../font/Nunito-Regular.ttf");
};
@font-face {
    font-family: "proj-lt";
    src: url("../../font/Nunito-Light.ttf");
};
@font-face {
    font-family: "proj-md";
    src: url("../../font/Nunito-Medium.ttf");
};
// @font-face {
//     font-family: "proj-ita";
//     src: url("../../props/fonts/SF-Pro/FontsFree-Net-SFProDisplay-LightItalic.ttf");
// };